<table style="width: 100%; padding: 5px; background-color: rgba(104,131,193,0.5); box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: left;">
            <b>AUTO PORTAL</b>
        </td>
    </tr>
</table>