<table style="width: 100%; padding: 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 20px; text-align: center;">
            {{userName}}, привіт на нашому порталі!!!
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <p style="margin: 10px 35px;">
                Для активації Вашого обликового запису натисніть кнопку Активувати
             </p>
            <br>
            <a href="{{frontUrl}}/cabinet/register/verify/{{actionToken}}">Активувати</a>
        </td>
    </tr>
</table>